:root {
  --rich-black: #050517;
  --gunmetal: #022b3a;
  --eerie-black: #191716;
  --prussian-blue: #102e4a;
  --night: #0c0f0a;
  --deep-sky-blue: #48beff;
  --space-cadet: #2b2d42;
  --shadow-sky-blue: #48beff33;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #fff;
  background: linear-gradient(to bottom, var(--rich-black), var(--gunmetal))
    #111;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 12px;
  border-radius: 12px;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
.particles {
  border-radius: 12px;
}
